- provide(:title, @function.name)
%h1
  #{@function.name}
  - if user_signed_in?
    %small
      = link_to "Edit", edit_function_path(@function)

%p
  - if @function.category
    %strong
      Category:
    = link_to @function.category.name, @function.category
    %br
  %strong
    Description:
  #{@function.description}
%hr
.info
  = markdown @function.content
