!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/shim"

  %body
    - unless @hide_nav_bar
      = render "shared/nav_bar"

    .wrapper.mt50
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      .container-fluid
        - if @categories and @functions
          .column3
            = render "shared/side_bar"
        .column9
          = yield
